[submodule "solidity"]
	path = solidity
	url = https://github.com/argotorg/solidity.git
	branch = develop
[submodule "evmone"]
	path = evmone
	url = https://github.com/ipsilon/evmone.git
[submodule "tree-sitter-solidity"]
	path = tree-sitter-solidity
	url = https://github.com/JoranHonig/tree-sitter-solidity.git
[submodule "afl-ts"]
	path = afl-ts
	url = https://github.com/msooseth/afl-ts.git
	branch = region-aware
[submodule "AFLplusplus"]
	path = AFLplusplus
	url = https://github.com/AFLplusplus/AFLplusplus.git
[submodule "tsgen"]
	path = tsgen
	url = https://github.com/jubnzv/tsgen.git
