build/
build-*/
build_ossfuzz/
.idea/
.vscode/
*.swp
*.swo
*~
compile_commands.json
/.ccache
sol_debug_out*/
yul_debug_out*/
/corpuses
/tmp
/tmp.tar.xz
/my_corpus
/my_corpus_shuffler
/my_corpus_sol_ice_ossfuxx
crash-*
/my_corpus_no_ssa
/my_corpus_single_S
fuzz-*.log
/my_corpus_sol_roundtrip_ossfuzz
/my_corpus_yul_ast_comparator_fuzz
/my_corpus_yul_proto_ossfuzz_evmone_check_stack_alloc
/my_corpus_sol_proto_ossfuzz_evmone
/build_afl
/corpus_afl
/findings_afl
/realworld_cache
/my_run
